<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
{% block content %}
    {% load crispy_forms_tags %}

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3" style="color: blue;">Reset Password/Create new Password</h2>
		<hr>
		<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        Whereas,
        <p>If you failed to create password with the activation link sent on your email, you can enter your email below and we'll send you a new link again.</p>
        <form method="POST">
            {% csrf_token %}
            <p style = 'color: red;'>{{ error }}</p>
            {{ password_reset_form|crispy }}   
            <br>                 
            <button class="btn btn-primary" type="submit">Send email</button>
        </form>
  	</div> 

{% endblock %}