{% include "librarymanagement/staff/base.html" %}

    <div align = left class='container text-center' style= "margin-left: 10px;">
    
        <h1 style="color: darkgoldenrod;">Approved Requests</h1>
        <div align = right class='container text-center' style= "margin-right: 10px;position: absolute;left: 1100px;top: 85px;">
        <label for ="dates" style="position: relative;">Filter by:</label>
        <select name="dates" id="dates">
            <option value = "Expected return date">Expected Return Date</option>
            <option value = "Issue Date">Issue Date</option>
            <option value = "Requested Date">Requested Date</option>
        </select>
                <form method = "GET" action = "{% url 'filterbydate' %}">
                    
                    <label for="start">Start Date:</label>
                        <input type = "date" id="start" name="start date"> <br>
                    <label for="end">End Date:</label>
                        <input type = "date" id="end" name="end date">
                    <button type="submit">Submit</button>
                </form>
        <form method = 'GET' action = "{% url 'orderbyreturndate' %}">
            <button style="width: 230px;text-align: left;position: relative;right: 250px; bottom: 80px;">Sort By: Expected Return Date</button>
        </form>
        <form method = 'GET' action = "{% url 'orderbyissuedate' %}">
            <button style="width: 230px;text-align: left;position: relative;right: 250px; bottom: 80px;" >Sort By: Issue Date</button>
        </form>
        <form method = 'GET' action = "{% url 'orderbynoofdays' %}">
            <button style="width: 230px;text-align: left;position: relative;right: 250px; bottom: 80px;">Sort By: No. of Days|Lowest first</button>
        </form>
        </div>
        <br>
        <br>
        <hr style="height: 5px;background-color: gray;">
        <ol>
            {% for field in user_obj %}
            <li>
                <b>Student Username: {{ field.username }} </b><br>
                <b>Bookname: </b> {{ field.select_book }} <br>
                <b>No. of Days: </b>{{ field.select_no_of_days }} <br>
                <b>Request Status: </b>
                {% if field.is_approved %}
                    <p style="color: green ;font-weight: bold;margin: auto;">Approved</p>
                {% endif %} <br>
                <b>Requested Date:</b>{{ field.request_date }} <br>
                <b>Issue Date: </b>{{ field.review_date }} <br>
                <b>Expected Return Date: </b>{{ field.expected_return_date }} <br>
            </li>
            <hr>
            {% endfor %}
        </ol>
    </div>