{% include "librarymanagement/staff/base.html" %}

    <div align = left class='container text-center' style= "margin-left: 10px;">
    
        <h1 style="color: darkgoldenrod;">Approved Requests</h1>
        <hr style="height: 5px;background-color: gray;">
        <ol>
            {% for field in user_obj %}
            <li>
                <b>Student Username: {{ field.username }} </b><br>
                <b>Bookname: </b> {{ field.select_book }} <br>
                <b>No. of Days: </b>{{ field.select_no_of_days }} <br>
                <b>Request Status: </b>
                {% if field.is_approved %}
                    <p style="color: green ;font-weight: bold;margin: auto;">Approved</p>
                {% endif %} <br>
                <b>Requested Date:</b>{{ field.request_date }} <br>
                <b>Issue Date: </b>{{ field.review_date }} <br>
                <b>Expected Return Date: </b>{{ field.expected_return_date }} <br>
            </li>
            <hr>
            {% endfor %}
        </ol>
    </div>