{% include "librarymanagement/staff/base.html" %}

    <div align = center class='container text-center'>
    
        <h1 style="color: darkgoldenrod;">Search Bookname</h1>
        <p>Search for the book you want to check stock of by using below search bar.</p>
        <p><b style="color: red;">Note</b> - Please only provide complete bookname of the book you are willing to search.</p>
        <hr>
        <form method = "POST" action="{% url 'checkbookstock' %}">
            {% csrf_token %}
            <input  id="search_box" type="text" name="search_box"  placeholder="Enter complete bookname ... " style="height: 30px; width: 300px;font-size: 16px;">
            <br>
            <br>
            <button id="search_submit" style = 'background-color: yellowgreen; height: 30px; width: 100px; font-size: 18px;'type = 'submit' >Search</button>
            <br> <br> <br>
            <p style = 'color: red;margin: 0cm;'>{{ error }}</p> <br>
          </form>
          
    </div>
    <div align = 'center' style="color:gray;font-family: 'Courier New', Courier, monospace; font-size: 20px;border-style: solid;border-color: black;border-radius: 1cm;">        
        {% for field in book_stock %}
        Bookname: {{ field.bookname }} <br>
        Quantity Left: {{ field.quantity }} <br>
        {% endfor %}
    </div>
</body>
</html>
