{% include "librarymanagement/staff/base.html" %}
    <div align = left class='container text-center' style= "margin-left: 10px;">
    
        <h1 style="color: darkgoldenrod;">Book Requests</h1>
        <form method="GET" action = "{% url 'allapprovedrequests' %}">
          <button id="search_submit" style = 'background-color:darkgoldenrod; height: 30px; width: 200px; font-size: 18px;position: relative;'type = 'submit' >Approved Requests</button>
        </form>
        <form method="GET" action = "{% url 'allrejectedrequests' %}">
          <button id="search_submit" style = 'background-color:darkgoldenrod; height: 30px; width: 200px; font-size: 18px;position: relative;left: 220px;bottom: 30px;'type = 'submit' >Rejected Requests</button>
        </form>
        <div align = right class='container text-center' style= "margin-right: 10px;position: absolute;left: 1100px;top: 85px;">
            <form method = 'GET' action = "{% url 'orderbyrequestdate' %}">
                <button>Sort By: Requested Date|oldest first</button>
            </form>
        </div>
        <hr style="height: 5px;background-color: gray;">
        <ol>
            {% for field in user_obj %}
            <li>
                <b>Student Username: {{ field.username }} </b><br>
                <b>Bookname: </b> {{ field.select_book }} <br>
                <b>No. of Days: </b>{{ field.select_no_of_days }} <br>
                <b>Requested Date:</b>{{ field.request_date }} <br>
                <b>Request Status: </b>
                {% if field.is_pending %}
                    <p style="color: orange ;font-weight: bold;margin: auto;">Pending</p>
                {% endif %}
                <br>
                <form method="POST" action = "{% url 'approverequests' field.id %}">
                    {% csrf_token %}
                    <button id="search_submit" style = 'background-color:yellowgreen; height: 30px; width: 100px; font-size: 18px;position: relative;'type = 'submit' >Approve</button>
                    <input  id="specify_days" type="number" name="specify_days"  placeholder="Select No. of Days... " style="height: 18px; width: 170px;font-size: 16px;position: relative;top: 45px;right: 104px;">
                </form>
                <form method="POST" action = "{% url 'rejectrequests' field.id %}">
                    {% csrf_token %}
                    <button id="search_submit" style = 'background-color:red; height: 30px; width: 100px; font-size: 18px;position: relative;left:125px;bottom: 30px;'type = 'submit' >Reject</button>
                </form>
            </li> <br>
            <hr>
            {% endfor %}
        </ol>
    </div>

    