{% include "librarymanagement/staff/base.html" %}

    <div align = left class='container text-center' style= "margin-left: 10px;">
    
        <h1 style="color: darkgoldenrod;">Rejected Requests</h1>
        <div align = right class='container text-center' style= "margin-right: 10px;position: absolute;left: 1100px;top: 85px;">
            <form method = 'GET' action = "{% url 'orderbyrejectdate' %}">
                <button>Sort By: Request Rejection Date</button>
            </form>
        </div>
        <hr style="height: 5px;background-color: gray;">
        <ol>
            {% for field in user_obj %}
            <li>
                <b>Student Username: {{ field.username }} </b><br>
                <b>Bookname: </b> {{ field.select_book }} <br>
                <b>No. of Days: </b>{{ field.select_no_of_days }} <br>
                <b>Request Status: </b>
                {% if field.is_rejected %}
                    <p style="color: red ;font-weight: bold;margin: auto;">Rejected</p>
                {% endif %} <br>
                <b>Requested Date: </b>{{ field.request_date }} <br>
                <b>Request </b><b style="color: red;">Rejection</b><b> Date: </b>{{ field.review_date }} <br>
            </li>
            <hr>
            {% endfor %}
        </ol>
    </div>