{% include "librarymanagement/staff/base.html" %}

<div align = center style="padding-left:16px">
  <h1 style="color: darkgoldenrod;">Hello {{ user.first_name }}</h1>
  <h2>Welcome to Staff Portal</h2>
  <hr>
  <br>
  <p style="color: green;">As a staff member you have access to students data. You can view and edit student's information whenever required by navigating to the <b>Students</b> Tab.</p>
  <p style="color: green;">You also have the facility to approve/reject student's book issue requests. You will be able to check availability and stock of the books in our library and then approve or reject the requests accordingly. This can be done by navigating to <b>Check Requests</b> Tab. </p>
  <p style="color: green;">As a staff member you have to decide for how many days a student can issue a book. This can be selected when you are approving the book requests.</p>
  <p style="color: green;">To check book stock please navigate to <b>Check Book Stock</b> Tab. </p>
</div>

</body>
</html>