{% include "librarymanagement/staff/base.html" %}

<div align = center class='container text-center'>
    
    <h1 style="color: darkgoldenrod;">Search Student</h1>
    <p>Here you can view the student details using the search bar given below.</p>
    <p>To edit student details, please use <b>Edit</b> button given below student details.</p>
    <hr>
    <h2 style="color:rgb(0, 153, 255);position: relative;;right: 98px; font-size: 19px;">Search here-</h2>
  

<form method = "POST" action="{% url 'studentlist' %}">
  {% csrf_token %}
  <input  id="search_box" type="text" name="search_box"  placeholder="Enter Student's Username or a keyword... " style="height: 30px; width: 300px;font-size: 16px;">
  <br>
  <br>
  <button id="search_submit" style = 'background-color: yellowgreen; height: 30px; width: 100px; font-size: 18px;'type = 'submit' >Search</button>
  <p style = 'color: red;'>{{ error }}</p>
</form>
<p>--OR--</p>

<a href="{% url 'activestudents' %}"
style="background-color: cadetblue;
    border: 2px solid black;
    color:black;
    padding: 4px 10px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin: 10px 30px;
    cursor: pointer;
    text-decoration:none;">Check list of Active Students</a>

<a href="{% url 'inactivestudents' %}"
style="background-color: cadetblue;
    border: 2px solid black;
    color:black;
    padding: 4px 10px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin: 10px 30px;
    cursor: pointer;
    text-decoration:none;">Check list of Inactive Students</a>

<div align = 'center' style="color:gray;font-family: 'Courier New', Courier, monospace; font-size: 20px;border-style: solid;border-color: black;border-radius: 1cm;">        

{% for field in student_list %}
Username: {{ field.email }} <br>
First Name: {{ field.first_name }} <br>
Last Name: {{ field.last_name }} <br>
DOB: {{ field.date_of_birth }} <br>
Contact Number: {{ field.phone }} <br>
Active Status: {{ field.is_active }} <br>
<a href = "{% url 'editstudent' field.id %}"
style="background-color: gray;
    border: 2px solid black;
    color:black;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 10px 30px;
    cursor: pointer;
    text-decoration:none;">Edit</a><br>
<br>
{% endfor %}

</div>   
</div>

