{% include "librarymanagement/student/base.html" %}
{% if user.is_authenticated %}
<p style = 'color: blue;margin: 0px;'> Logged in user " {{ user.username }} "</p>
{% endif %}

<div align = center class='container text-center'>
<h1 style="color: darkgoldenrod;">Type the bookname you want to search</h1>
<hr>
<p> <b style="color: red;">Note:</b> Please provide only complete bookname for a successfull search. </p>
<form method = "POST" action="{% url 'browsebook' %}">
    {% csrf_token %}
    <input  id="search_box" type="text" name="search_box"  placeholder="Enter complete Bookname ... " style="height: 30px; width: 300px;font-size: 16px;">
    <br>
    <br>
    <button id="search_submit" style = 'background-color: yellowgreen; height: 30px; width: 100px; font-size: 18px;'type = 'submit' >Search</button>
    <p style = 'color: red;'>{{ error }}</p>

  </form>
    <br>
  <div align = 'center' style="color:gray;font-family: 'Courier New', Courier, monospace;border-style: solid;border-color:black;border-radius: 6cm;">
  {% for field in bookname %}
  <a href="/librarymanagement/books/harry_potter.html/"
  style="background-color: gray;
    color:black;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin: 10px 30px;
    cursor: pointer;
    position:relative;
    text-decoration:none;">{{ field.bookname }}</a>
  {% endfor %}
  </div>
</div>
<div align = center class='container text-center'>
    
  <h1 style="color: darkgoldenrod;">List of Books</h1>
  <hr>
</div>
<div align = left class='container text-center'>
<ol>
{% for field in book_list %}
<li>
<b>{{ field.bookname }}</b>
</li>
<hr>
{% endfor %}
</ol>
</div>
