{% include "librarymanagement/student/base.html" %}
{% if user.is_authenticated %}
<p style = 'color: blue;margin: 0px;'> Logged in user " {{ user.username }} "</p>
{% endif %}


<div align = "center">
<head>
    <p style="border:3px; border-style:solid; border-color:#1c5d83; padding: 1em; font-size: 25px; ">
    Welcome to Student Portal, {{ user.first_name }} <br>
    Please go through the instructions below</p>
    <p style = 'color: red;'>{{ error }}</p>
    <hr>
</head>
<p style="font-family: Arial, Helvetica, sans-serif;color: brown;">As a student you can issue books from our library as per their availability. Once you select a book you like and hit <b style="color: #1c5d83;">Send Request</b>, a request will be sent to our staff for the same. </p>
<p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: brown;">They can either <b style="color:green;">Approve</b>  or <b style="color:red;">Reject</b> your request upon checking stock of the book in our library. Once approved you can see your book in <b style="color: #1c5d83;">Subscriptions</b> Tab.</p>
<p style="font-family: cursive;color: brown;">Please proceed to issue a book by navigating to <b style="color: #1c5d83;">Issue</b> Tab. </p>