{% include "librarymanagement/student/base.html" %}
{% if user.is_authenticated %}
<p style = 'color: blue; margin: 0px;'> Logged in user " {{ user.username }} "</p>
{% endif %}
<div align = left class='container text-center' style= "margin-left: 10px;">
    
    <h1 style="color: darkgoldenrod;">Subscribed Books</h1>
    <div align = right class='container text-center' style= "margin-right: 10px;position: absolute;left: 1000px;top: 100px;">
        <form method = 'GET' action = "{% url 'orderbyreturndatestudent' %}">
            <button style="width: 270px;text-align: left;">Sort By: Expected Return Date|closest first</button>
        </form>
    </div>
    <hr style="height: 5px;background-color: gray;">
    <ol>
        {% for field in user_obj %}
        <li>
            {% if field.is_subscription_active %}
            <b>Bookname: </b> {{ field.select_book }} <br>
            <b>No. of Days: </b>{{ field.select_no_of_days }} <br>
            <b>Request Status: </b>
            <p style="color: green ;font-weight: bold;margin: auto;">Subscribtion Active</p> 
            <b>Issue Date: </b>{{ field.review_date }} <br>
            <b>Expected Return Date: </b>{{ field.expected_return_date }}
            <form method="POST" action = "{% url 'bookreturn' field.id %}">
                {% csrf_token %}
                <button id="search_submit" style = 'background-color:aquamarine; height: 30px; width: 200px; font-size: 18px;position: relative;'type = 'submit' >Return the Book</button>
            </form>
            {% endif %}
        </li>
        <br>
        <hr>
        {% endfor %}
    </ol>

</div>